<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="Triangle" class="org.koushik.javabrains.Triangle">
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean>
	
	<bean id="pointA" class="org.koushik.javabrains.Point">
		<property name="x" value="${pointA.X}" />
		<property name="y" value="${pointA.Y}" />
	</bean>
	
	<bean id="pointB" class="org.koushik.javabrains.Point">
		<property name="x" value="${pointB.X}" />
		<property name="y" value="${pointB.Y}" />
	</bean>
	
	<bean id="pointC" class="org.koushik.javabrains.Point">
		<property name="x" value="${pointC.X}" />
		<property name="y" value="${pointC.Y}" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties"></property>
	</bean>

</beans>
